@import 'bootstrap/scss/bootstrap';

body{
  min-height: 100vh;
  background-image: linear-gradient(
    lighten(#0b4417, 80%),
    lighten(#0b4417, 60%)
  );
}

h1,
h2,
h3,
h4,
h5,
h6{
  color: #0b4417;
  font-weight: 700;
}
  
 